<% provide(:title, "About Us") %>

<div class="aboutus">
<h1>About us</h1>
<p>If there are two things we enjoy the most are travelling and relaxing. When we travel, we discover a new world and live new experiences. Every trip is different and lead us to situations where we need to get by on our own and make the most of the time we have. The reasons why people travel are varied and very personal. They range from: challenging themselves by pushing to their limits and leaving the comfort zone; learning new skills or knowledge, languages, cuisine, insights and culture; travelling opens our minds and helps getting in touch with ourselves; we also start to appreciate our lives, the people we have a relationship with as well as building and strengthening new relations; going away also allow us to live an adventure, crave new experiences and escape from bitter situations in our lives that cause stress and unhappiness.</p> 
<p>Even though travelling is a life-changing experience, there is nothing like going back home with all the memories, pictures and souvenirs. What if you could revisit the trip while relaxing having fun with a jigsaw puzzle of the main landmarks you visited? Having that in mind, we created this shop where you can purchase jigsaw puzzles of famous tourist attractions from all over the world. You can choose puzzles from 500 to 6000 pieces.</p>
<p>We hope you enjoy browsing around the page! </p>

</div>